---
---
{% include header.html %}

<body>

{% include nav.html %}

<div class="main-content">

	<div class="containit" style="padding:0px">
	
 		<div class="game" style="background-image: url('images/cmtile.png');">
			<div class="top-shadow-footer"></div>
			
				<div style="max-width:980px; margin:auto;">
				<img class="gameimage iright" src="images/games/crumpets.png" / >
			
				<h1 class="gametitle tright">Crumpets & Music</h1>
				

				<div class="gamedescription gdleft">
				
					<div style="float:left;">
						<img class="store" src="images/appstorecs.png" />
						<img class="store" src="images/andstorecs.png" />
					</div>
				
					<p>Take flight on the new multi-track, multi-touch music game that redefines the touch music genre. Coming Soon from Amateur Pixels.</p>

				</div>
				</div>
			<div class="bottom-shadow"></div>
		</div>

		<div class="game" style="background-image: url('images/wordjumbletile.png');">
			<div class="top-shadow-footer"></div>
			
				<div style="max-width:980px; margin:auto;">
				<img class="gameimage ileft" src="images/games/wordtangle.png" / >
			
				<h1 class="gametitle tleft">Word Tangle</h1>
				

				<div class="gamedescription">
				
					<div style="float:right;">
						<a href="http://itunes.apple.com/us/app/word-tangle/id477049162?ls=1&mt=8"><img class="store" src="images/appstore.png" /></a>
						<img class="store" src="images/andstorecs.png" />
					</div>
				
					<div style="margin-right:180px;">
						<p>Put the act in action and the man in romance with Word Tangle, the twisting, challenging word game. Take the words you know apart and make smaller ones in this fast-paced and exciting game from new developer Amateur Pixels.</p>
					</div>			

				</div>
				</div>
			<div class="bottom-shadow"></div>
		</div>
		
		<div class="game" style="background-image: url('images/desertbustile.png');">
			<div class="top-shadow-footer"></div>

				<div style="max-width:980px; margin:auto;">
		
				<img class="gameimage iright" src="images/games/desertbus.png" / >
			
				<h1 class="gametitle tright">Desert Bus</h1>

				<div class="gamedescription gdleft">
				
					<div style="float:left;">
						<!--<img class="store" src="images/appstorecs.png" />-->
						<!--<img class="store" src="images/andstorecs.png" />-->
						<a href="http://itunes.apple.com/us/app/desert-bus/id470288016?ls=1&mt=8"><img class="store" src="images/appstore.png" /></a>
						<a href="http://market.android.com/details?id=com.tueidj.DesertBus"><img class="store" src="images/andstore.png" /></a>
					</div>
					
					
				<!--	<p>No way out, no way home but the long way - by tow truck. Desert Bus puts you, the player, to the ultimate test of endurance in this mind-numbing blowout experience. There is no other game quite like Desert Bus.</p> -->
					
				<p>Desert Bus was a minigame included in the unreleased 1995 video game "Penn & Teller's Smoke and Mirrors". This project was undertaken in support of the annual <a href="http://desertbus.org/">Desert Bus for Hope</a> charity fundraiser for <a href="http://www.childsplaycharity.org/">Child's Play</a>, hosted by the crew from <a href="http://loadingreadyrun.com/">LoadingReadyRun</a>.</p>
				
				</div>

				</div>
		</div>
		
	</div>
	
</div>

{% include footer.html %}

</body>

</html>
<!-- Localized -->
