<!-- start top and main menu -->

<div class="main-menu">

<div class="ornament">

    <div class="containit">

        <div class="menu">

		    <!-- navigation start -->

			<div id="navigation">
				<a href="" style="font-size:2.5em; display:block; padding-bottom:0; position: relative;" class="applyfont"><img style="position: absolute; bottom: -10px; left:1px;" src="images/Ampii64FullName.gif" />Amateur Pixels</a>
				<div class="applyfont">
					<a href="mailto:support@amateurpixels.com" style="padding:0; margin-left:140px; margin-top:-8px;">Support</a>
					<a href="mailto:contact@amateurpixels.com" style="padding:0; margin-left:20px; margin-top:-8px;">Contact</a>
				</div>
			</div>

            <!-- navigation end -->

        </div>

        <div class="clear"></div>

    </div>

</div>

</div>

<!-- end top and main menu -->
