---
---
{% include header.html %}

<body>

{% include nav.html %}

<div class="main-content">

	<div class="containit">
		<div>
			<h1 class="gametitle">Desert Bus: Privacy Policy</h1>

			<p>
				This policy applies to the Desert Bus game available on the Android mobile platform, and serves to inform players who download or use the app.
				It outlines any collection, use, and disclosure of any Personal Information accessed by the application on your device.
			</p>
			<p>
				Players obtaining the game via the Google Play Store may also refer to <a href="https://policies.google.com/privacy">Google's Privacy Policy</a>, which outlines the information that Google collects when you download or purchase the game from their services.
			</p>

			<h2>Information Collection and Use</h2>
			<p>
				Desert Bus is an offline game, thus Amateur Pixels does not collect or handle any information from or about its players.
				Any record of personally identifiable information that may be processed on your device is never transferred by the application to Amateur Pixels or our affiliated third parties.
			</p>

			<h2>Changes to This Policy</h2>
			<p>
				We may update this Privacy Policy from time to time.
				Therefore, you are advised to review this page periodically for any changes.
				We will notify you of any changes by posting the new Privacy Policy on this page.
			</p>

			<p>This policy is effective as of 2022-07-10.</p>

			<h2>Contact</h2>
			<p>If you have any questions or concerns regarding this policy, you may <a href="mailto:support@amateurpixels.com">contact us via email</a>.</p>
		</div>
	</div>
	
</div>

{% include footer.html %}

</body>

</html>
<!-- Localized -->
